.sideBar{
    flex: 1.5;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: rgb(179, 179, 179);
    
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

.sideBarWrapper{
    padding: 20px 0;
}

.sideBarListItem{
    list-style: none;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.sideBarListItem:hover{
    font-weight: 900;
    color: green;
}

.sideBarIcon{
    margin-right: 3px;
    padding-right: 5px;
}